*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --darkgrey: #363636;
    --orange: #cd3d0f;   
}
.bg_darkgrey{
    background-color: var(--darkgrey);
}
.bg_orange{
    background-color: var(--orange);
}










.logo_wrapper{
    max-width: 100px;

}










.dropdown-toggle::after{
    content: none;
}
.fa-chevron-down{
    font-size: .5rem;
}

.header_bottom .nav-item{
    margin-right: 1rem;
}


.nav_link{
    color: black !important;
    font-size: 1.1rem;
    font-weight: 600;
}

.search{
    width: 30px;
}
.search img{
    width: 100%;
}
