*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

img{width:100%}

.border_radius{
    border-radius: 15px;
}


/* utilities */

:root{
    --darkgrey: #363636;
    --orange: #cd3d0f;
    --blue:#1079d4;   
}
.bg_darkgrey{
    background-color: var(--darkgrey);
}
.bg_orange{
    background-color: var(--orange);
}

.padding_top{
    padding-top: 6rem;
}

.text_blue{
    color: var(--blue);
}

.margin_top{
    margin-top: 7rem;
}


/* utilities */






.logo_wrapper{
    max-width: 100px;

}






/* header */



.dropdown-toggle::after{
    content: none;
}
.fa-chevron-down{
    font-size: .5rem;
}

.header_bottom .nav-item{
    margin-right: 1rem;
}


.nav_link{
    color: black !important;
    font-size: 1.2rem;
    font-weight: 500;
}

.search{
    width: 30px;
}
.search img{
    width: 100%;
}

/* header */



/* MAIN - hero sec */
.hero_sec{
    background-image: url(./img/jumbo-bg.png);
    background-size: cover;
    height: 90vh;
    background-position: top;
}
.banner_img_wrapper{
    max-width: 300px;
position: relative;}
   
.banner_img_wrapper img{
    width: 100%;
    top: 0;
    left:-30px
  
}
.product_active{
  outline: 3px solid #1079d4;
  outline-offset: 5px;
}







/* PLAYSTATION5 SEC */

.playstation_item_active{
    border-bottom: 3px solid #1079d4;
}

.playstation_item_inactive{
    opacity: .5;
    transition: all 250ms;
}

.playstation_item_inactive:hover{
    opacity: 1;
}